@page {
    size: A4 landscape;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */

}


@media print {
    .boton, .boton2, .printable, tab2, tr1, div.divEncabezado{
        display: none;
    }

    #footer {
        display: block;
        position: fixed;
        bottom: 0px;
    }

    #descbarhr {
        display: none;
    }

    #footer2 {
        display: block;
        bottom: 0;
        /*    position: fixed;
   */
    }

    .radius {
        border-color: #000;
        border-collapse: separate;
    }

    body {
        background-image: none;
        background-color: #FFF;
        page-break-after: auto;
    }

    table{
        display: block;
    }

    tableImpresa{
        display: flex;
    }


}