@page {
    size: A4;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */


}

header {
    position: absolute;
    top: 50px;
 margin-bottom: 500px;
}


@media print {
    .boton, .boton2, .printable, tab2, tr1, div.divEncabezado {
        display: none;
    }

    #footer {
        display: block;
        position: fixed;
        bottom: 0px;
    }

    #descbarhr {
        display: none;
    }

    #footer2 {
        display: block;
        bottom: 0;
    }

    .radius {
        border-color: #000;
        border-collapse: separate;
    }

    body {
        background-image: none;
        background-color: #FFF;
        page-break-after: auto;
    }

    table {
        display: block;
    }

    tableImpresa {
        display: flex;
    }

    /*se brinca desde donde esta, hasta otra pagina*/
    .page-break {
        display: block;
        page-break-before: always;
    }

    html, body {
        width: 210mm;
        height: 297mm;
    }

    header {
        position: fixed;
    }


}

