.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align:center;
    z-index: 200;
	background-image:url(../imagenes/window/lolin.png);
}

.tabla {
    position:fixed;
    top: 50%;
    left: 50%;
    width:250px;
    height:146px;
    margin-top: -73px; /*set to a negative number 1/2 of your height*/
    margin-left: -125px; /*set to a negative number 1/2 of your width*/
}

.alert_nw {
	width: 9px;
	height: 23px;
	background: transparent url(../imagenes/window/nw.gif) no-repeat bottom left;	
}

.alert_n {
	height: 23px;
	background: transparent url(../imagenes/window/n.gif) repeat-x bottom left;
}

.alert_ne {
	width: 9px;
	height: 23px;
	background: transparent url(../imagenes/window/ne.gif) no-repeat bottom left;
}

.alert_e {
	width: 5px;
	background-color:#FFFFFF;
}

.alert_w {
	width: 5px;
	background-color:#FFFFFF;
}

.alert_sw {
	width: 9px;
	height: 23px;
	background: transparent url(../imagenes/window/sw.gif) no-repeat 0 0;		
}

.alert_s {
	height: 23px;
	background: transparent url(../imagenes/window/s.gif) repeat-x 0 0;		
}

.alert_se {
	width: 9px;
	height: 23px;
	background: transparent url(../imagenes/window/se.gif) no-repeat 0 0;
}

.loader{
	padding-bottom:30px;
	height:35px;
	background: #FFFFFF url(../imagenes/window/ajax-loader.gif) no-repeat center center;
}

.alert_btn{
	padding-bottom:10px;
	background-color:#FFFFFF;
}

.alert_message {
  	font: 12px;
	color:#000000;
	vertical-align:top;
	padding-top:15px;
	background-color:#FFFFFF;
}