div { margin: 0; padding: 0; outline: 0; }

html,body {
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	height: 100%;
	font-family:Calibri;
}

#winchm_template_top {
	padding: 0px;
	margin: 0px;
	border-bottom: 1px solid #B7B7B7;
}

#winchm_template_navigation{
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 0px; 
	PADDING-TOP: 2px; 
	FONT-FAMILY: Calibri;
}

#winchm_template_title{
	PADDING-RIGHT: 2px; 
	PADDING-LEFT: 2px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	PADDING-BOTTOM: 2px; 
	MARGIN: 0px; 
	PADDING-TOP: 2px; 
	FONT-FAMILY: Calibri;
}


@media screen
{
#winchm_template_content{
	margin: 0px;
	padding: 15px;
	position: absolute;
	top : 51px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	overflow: auto;
}
}

@media print
{
#winchm_template_content{
	position: static;	
	margin: 0px;
	padding: 5px;
	
	width: auto;
	height: auto;
	overflow: auto;
}
#winchm_template_prev{
visibility:hidden;
}
#winchm_template_next{
visibility:hidden;
}
}